/* Kita deklarasikan terlebih dahulu ya beb */
html,
body{
height: 100%;
background-color: #faf9fa !important;
}

.global-container{
    height: 100%;
    display: flex;
align-items: center;
justify-content: center;
color:#c0117a;
}

.loginform{
width: 380px;
height: 450px;
padding: 20px;
background-color:#e7dee5 !important;
border-radius: 10px !important;
}

input[type="email"],
input[type="password"]{
    background: #f794cf;
    color:aliceblue;
    border: 2px solid #c0117a;
    border-radius: 10px;
    margin-bottom: 25px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border: none;
    background: local;
    color:#71095a;
    margin:0;
}


.card-title{
font-weight: 900;
padding-top: 20px;
}

.btn{
    background: #f794cf;
    color:#c0117a !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
    border: 2px solid #c0117a;
}
